.background {
  background-color: #EBE6DB;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  position: relative;
  display: block;
  text-align: left;
  padding-left: 20%;
}

.text{
    text-align: left;
}

.button {
    background-color: #96B276;
    color:#1E221C;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #6f8a51;
    color: #1E221C;
  }
  
  .button:active {
    background-color: #52673a;
    color: #1E221C;
  }
