/* Navbar.css */
.navbar {
    background-color: #96B276;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.navbar-dark {
  background-color: #1E221C;
}

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;

  }
  
  .img-dark{
    filter: invert(100%);
  }
  